body {
  font-family: "Montserrat";
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
  font-weight: 900;
}

h3 {
  margin-top: 10%;
  font-size: 1.5rem;
}

h2 {
  font-size: 3rem;
  line-height: 1.5;
}

p {
  color: grey;
}

#title {
  background-color: #ff4c68;
}

/* Navigation Bar */

.container-fluid {
  padding: 3% 15% 7%;
}

#tindog-heading {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar {
  margin-bottom: 4.5rem;
}

.nav-link {
  font-size: 1.5rem;
  font-family: "Ubuntu";
  font-weight: lighter;
}

#title-heading {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;
}

.iphone-img {
  transform: rotate(25deg);
  position: absolute;
}

@media screen and (max-width: 1024px) {
  #title{
    text-align: center;
  }
  .iphone-img{
    position: static;
    transform: rotate(0);
  }
}

/* End Of Navigation Bar */

/* Download Buttons */

.download-btn {
  margin: 5% 3% 5% 0;
  font-family: "Montserrat";
}

.fa-brands {
  padding: 10px;
}

/* End Of Download Buttons */

/* Features */

#features {
  padding: 7% 10%;
  text-align: center;
  position: relative;
  background-color: #fff;
}

.feature-img {
  color: #ef8172;
}

.feature-img:hover {
  color: #ff4c68;
}

/* End Of Features */

/* Testtimonials */

#testimonials {
  background-color: #ef8172;
  text-align: center;
  color: white;
}

.testimonial-img {
  width: 15%;
  border-radius: 100%;
  margin: 1rem;
}

/* End Of Testimonials */

/* Icons In Testimonial */
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 5%;
}

#press img {
  width: 15%;
  margin: 20px 20px 15px;
}

.carousel-item {
  padding: 10% 15%;
}
/* End Of Icons */

/* Pricing */

#pricing {
  padding: 100px;
}

.pricing-card {
  padding: 3% 2%;
}

/* End Of Pricing */

/* Call To Action */
#cta{
  background-color: #ff4c68;
  padding: 8% 15%;
  text-align: center;
}

#cta h3{
  text-align: center;
  margin:0;
  color: white;
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 3.5rem;
  padding: 1% 2% 5% 2%;
  line-height: 1.5;
}
/* End Of Call To Action */

/* Footer */

#footer{
  text-align: center;
  padding: 8% 15%;
}

.footer-icons{
  padding: 1% 1% 2%;
}

/* End Of Footer */